*.log
*.history
*.conf
*.fsdb
*.qpf
*.qsf
*.bak
*.rc
*key
/lab1/sim/BSSLib.lib++/
/lab1/sim/INCA_libs/
/lab1/sim/nWaveLog/
/lab2/sim/BSSLib.lib++/
/lab2/sim/INCA_libs/
/lab2/sim/nWaveLog/
/lab2/src/output_files/
/lab2/src/db/
/lab2/src/INCA_libs/
/lab2/src/nWaveLog/
/lab2/src/BSSLib.lib++/
/lab2/src/.nfs0000000080c216d90000b665
/lab2/src/tb_verilog/BSSLib.lib++/
/lab2/src/tb_verilog/INCA_libs/
/lab2/src/tb_verilog/nWaveLog/
/lab2/src/tb_verilog/vfastLog/
/lab2/src/spyglass-1/




/lab3/sim/BSSLib.lib++/
/lab3/sim/INCA_libs/
/lab3/sim/nWaveLog/
/lab3/src/output_files/
/lab3/src/db/
/lab3/src/INCA_libs/
/lab3/src/nWaveLog/
/lab3/src/BSSLib.lib++/
/lab3/src/.nfs0000000080c216d90000b665
/lab3/src/spyglass-1/


/lab_bonus_SW/src/.qsys_edit/


/final_project/src/BSSLib.lib++/
/final_project/src/INCA_libs/
/final_project/src/nWaveLog/